<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <ros2_control name="GazeboSystem" type="system">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
            <joint name="LF_joint">
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="velocity"/>
                <state_interface name="position"/>
            </joint>
            <joint name="RF_Wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="velocity"/>
                <state_interface name="position"/>
            </joint>
            <joint name="Arm_joint">
                <command_interface name="position">
                    <param name="min">-1.57</param>
                    <param name="max">1.57</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="Nozel_joint">
                <command_interface name="position">
                    <param name="min">-1.57</param>
                    <param name="max">1.57</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

             <!-- Passive caster joints — state only -->
            <joint name="LC_joint">
                    <state_interface name="position"/>
                    <state_interface name="velocity"/>
            </joint>
            <joint name="RC_joint">
                    <state_interface name="position"/>
                    <state_interface name="velocity"/>
            </joint>
            <joint name="LC_wheel_joint">
                    <state_interface name="position"/>
                    <state_interface name="velocity"/>
            </joint>
            <joint name="RC_wheel_joint">
                    <state_interface name="position"/>
                    <state_interface name="velocity"/>
            </joint>
    
        </ros2_control>


 <gazebo>
        <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system.so">
            <parameters>$(find fire_robot)/config/my_controllers.yaml</parameters>
            <parameters>$(find fire_robot)/config/gaz_ros2_ctl_use_sim.yaml</parameters>
        </plugin>
    </gazebo>






</robot>